{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
    <form action="/snippet/create" method="POST">
        <div>
            <label for="title">Title:</label>
            {{with .Form.FieldErrors.title}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="title" value="{{.Form.Title}}" id="title" />
        </div>
        <div>
            <label for="content">Content:</label>
            {{with .Form.FieldErrors.content}}
                <label class="error">{{.}}</label>
            {{end}}
            <textarea name="content" id="content">{{.Form.Content}}</textarea>
        </div>
        <fieldset>
            <legend>Delete in:</legend>     
            {{with .Form.FieldErrors.expires}}
                <label class="error">{{.}}</label>
            {{end}}       
            <input type="radio" name="expires" value="365" id="one-year" {{if (eq .Form.Expires 365)}}checked{{end}}> <label for="one-year">One Year</label>
            <input type="radio" name="expires" value="7" id="one-week" {{if (eq .Form.Expires 7)}}checked{{end}}> <label for="one-week">One Week</label>
            <input type="radio" name="expires" value="1" id="one-day" {{if (eq .Form.Expires 1)}}checked{{end}}> <label for="one-day">One Day</label>
        </fieldset>
        <div>
            <input type="submit" value="Publish snippet" />
        </div>
    </form>
{{end}}