{{define "title"}}Login{{end}}

{{define "main"}}
    <form action="/user/login" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{range .Form.NonFieldErrors}}
            <label class="error">{{.}}</label>
        {{end}}
        <div>
            <label for="email">Email:</label>
            {{with .Form.FieldErrors.email}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="email" name="email" value="{{.Form.Email}}" id="email" />
        </div>
        <div>
            <label for="password">Password:</label>
            {{with .Form.FieldErrors.password}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" name="password" id="password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
{{end}}