{{define "title"}}Change password{{end}}

{{define "main"}}
    <h2>Change password</h2>
    <form action="/account/password/update" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div>
            <label for="current-password">Current password:</label>
            {{with .Form.FieldErrors.currentPassword}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" name="currentPassword" id="current-password" />
        </div>
        <div>
            <label for="new-password">New password:</label>
            {{with .Form.FieldErrors.newPassword}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" name="newPassword" id="new-password" />
        </div>
        <div>
            <label for="new-password-confirmation">Confirm New password:</label>
            {{with .Form.FieldErrors.newPasswordConfirmation}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" name="newPasswordConfirmation" id="new-password§confirmation" />
        </div>
        <div>
            <input type="submit" value="Change password" />
        </div>
    </form>
{{end}}